
body { background-image: url(fondoofertas.svg); /* cuerpo */
    background-size: cover;
    background-position-x: center;
}

.ofertacarta {
    width: 100% ; 
    height: auto ; 
    max-width: 100px ; 
    margin: 0 auto ; 
    } 

.precio-nube{
    background-color: #ca2727; /* Fondo blanco */
    padding: 10px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espaciado inferior */
    }
    
.price {
    color: rgb(255, 255, 255); /* Color rojo */
    font-size: 24px; /* Tamaño grande */
}

.title-container {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 50px; /* Espacio superior */
}

.main-title {
    font-family: 'Arial Black', sans-serif; /* Tipo de fuente */
    font-size: 48px; /* Tamaño grande */
    color: #FF5733; /* Color llamativo */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    display: inline-block; /* Hace que el título sea un bloque en línea */
}

.news-image {
    width: 200px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    margin-left: 20px; /* Espacio a la izquierda del título */
    vertical-align: middle; /* Alinea verticalmente con el título */
}

.arrow-icon {
    margin-left: 5px; /* Espacio entre el texto y la flecha */
    vertical-align: middle; /* Alinea verticalmente con el texto */
    transition: transform 0.3s ease; /* Agrega una transición suave */
}

.icon-link:hover .arrow-icon {
    transform: translateX(5px); /* Mueve la flecha hacia la derecha al hacer hover */
}
